.ventajas-elejirnos {
    background: #000000;
    padding: 50px;
    border: #000000 1px;
}

.elementos {
    background: #000000;
    background-color: black;
    border: 1.5px solid #000000;
    color: aliceblue;
        /* background-color: #fff; /*/
}

.card {
    background-color: #000000;
    background-color: black;
}